body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5%;
}

.gridContainer {
    border: black 3px solid;
    height: 100vw;
    width: 100vw;
    display:flex;
    flex-direction: column;
}

.gridRow {
    border: red 2px solid;
    display: flex;
    flex: 1;
}

.gridCell {
    border: blue 1px solid;
    flex: 1;
}